name: Build KakDela P2P

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Generate project via Python
        run: python setup_project.py

      - name: Show tree
        run: ls -R .

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Make gradlew executable
        run: chmod +x ./Kakdela-p2p/build_output/gradlew

      - name: Build APK
        working-directory: ./Kakdela-p2p/build_output
        run: ./gradlew assembleDebug --stacktrace --no-daemon

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Kakdela-debug.apk
          path: Kakdela-p2p/build_output/app/build/outputs/apk/debug/
