name: Build

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Make gradlew executable
        run: chmod +x ./unpacked/kakdela-p2p-phase1/gradlew

      - name: Build APK
        run: ./unpacked/kakdela-p2p-phase1/gradlew assembleDebug
