name: Run Python Script

on:
  workflow_dispatch:

jobs:
  run-setup:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Run setup_project.py
        run: python setup_project.py
