name: Run Python Script

on:
  workflow_dispatch:      # запуск кнопкой "Run workflow"
  push:                   # запуск при коммите
    branches: [ main ]

jobs:
  run-python:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies (если нужно)
        run: |
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run your Python script
        run: python main.py
